<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../dictionary.js"></script>
</head>
<body ng-app="myapp">
	<cus-input></cus-input>
	<script type="text/javascript">
		var myapp = angular.module('myapp', []);

		myapp.controller('userInputController', function ($scope, $sce) {
			
			var dictionary = $scope.keywordsDictionary = globalDictionary; 
			$scope.placeholderText = '\u8bf7\u8f93\u5165\u5173\u952e\u8bcd';// 请输入关键词
			$scope.userInput = '';
			$scope.suggestResults = [];
			$scope.suggestSelectIndex = -1;
			var suggestMaxCount = 10;


			$scope.inputModified = function () {
				$scope.suggestResults = [];
				$scope.suggestSelectIndex = -1;
				for (var i = 0; i < dictionary.length; i++) {
					var tempWord = dictionary[i].word;
					if ($scope.userInput && tempWord.indexOf($scope.userInput) > -1) {
						$scope.suggestResults.push(dictionary[i]);
						if ($scope.suggestResults.length == suggestMaxCount) {
							break;
						}
					}
				}
			}

			$scope.formSubmit = function () {
				debugger
			}

			$scope.emphasizeMatched = function (originWord) {
				return $sce.trustAsHtml(
							originWord.replace(
								$scope.userInput, '<strong>' + $scope.userInput + '</strong>'
							)
						);
			}

			$scope.selectIndex = function ($event) {
				var suggestResultsLen = $scope.suggestResults.length;
				if (!suggestResultsLen) {
					return;
				}		
				var keyCode = $event.keyCode;
				switch (keyCode) {
					// 向上按钮
					case 38:
						$scope.suggestSelectIndex = --$scope.suggestSelectIndex < -1
													? -1
													: $scope.suggestSelectIndex;
						break;
					// 向下按钮
					case 40:
						$scope.suggestSelectIndex = ++$scope.suggestSelectIndex > suggestResultsLen - 1
													? suggestResultsLen - 1
													: $scope.suggestSelectIndex;					
						break;
					// 回车按钮
					// case 13:
					default:
				}
				if ($scope.suggestSelectIndex !== -1) {
					$scope.userInput = $scope.suggestResults[$scope.suggestSelectIndex].word;
				}
			}
		})

		myapp.directive('cusInput', function () {
			
			var templateStr = [
				'<div ng-controller="userInputController">',
					'<form ng-submit="formSubmit()" novalidate>',
						'<input class="input-search-keyword"', 
							'placeholder="{{placeholderText}}"',
							'ng-model="userInput"',
							'ng-keyup="selectIndex($event)"',
							'ng-change="inputModified()" value="" type="text"/>',
						'<button type="submit" class="btn-submit">Click</button>',
					'</form>',
					// suggest-box是否也应该添加一个独立的contoroller?
					'<div class="suggest-box"ng-show="suggestResults.length">',
						'<ul>',
							'<li ng-repeat="item in suggestResults">',
								// ngBindHtml: https://docs.angularjs.org/api/ng/directive/ngBindHtml
								'<span ng-bind-html="emphasizeMatched(item.word)">',
								'</span>',
							'</li>',
						'</ul>',
					'</div>',
				'</div>'
			].join('');

			return {
				restrict: 'E',
				template: templateStr,
				replace: true,
				compile: function () {
					return function link($scope, $linkElement, $attrs) {
						var originLinkElement = $linkElement[0];
					}
				}
			}
		});
	</script>
</body>
</html>