<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/semantic/dist/semantic.min.js"></script>
	<script type="text/javascript" src="../bower_components/vue/dist/vue.min.js"></script>
	<script type="text/javascript" src="../bower_components/PubSubJS/src/pubsub.js"></script>
	<link rel="stylesheet" type="text/css" href="../bower_components/semantic/dist/semantic.min.css">
	<style type="text/css">
	    label, span, button, div {
            font-family: "思源黑体", "Source Han Sans", "微软雅黑", "Microsoft YaHei" !important;
        }
        .clear {
        	clear: both;
        }
        .hide {
        	display: none!important;
        }
	</style>
</head>
<body>
	<div class="ui small modal error">
	  	<div class="ui header">
	  		<span>出错啦</span>
	  	</div>
	  	<div class="content">
	    	<p>抱歉，稍后再试试吧</p>
	    	<p>总是出错的话请联系 juststayinvegas@gmail.com</p>
	  	</div>
	  	<div class="actions">
	   		<div class="ui green ok inverted button">
	      		<i class="checkmark icon"></i>
	      		<span>好吧</span>
	    	</div>
	  	</div>
	</div>
	<div class="ui menu" style="margin-top: 0;">
	  	<a class="item">
			<i class="ui icon info circle"></i>	  	
	    	<span>简单说明</span>
	  	</a>
		<a class="item">
			<i class="ui icon mail"></i>
		    <span>联系作者（意见与建议）</span>
		</a>
		<a class="item">
			<i class="ui icon help circle"></i>
		    <span>FAQ（常见问题）</span>
		</a>
		<a class="item">
			<i class="ui icon money"></i>
		    <span>捐助</span>
		</a>		
	</div>
	<div class="ui grid container centered">
		<div class="row">
		</div>
		<div class="row"></div>
		<div class="row">
            <div class="column">
                <h1 class="ui header">
                    <span>豆瓣租房小工具</span>
                </h1>
            </div>
        </div>
		<div class="row">
			<div class="column">
				<div id="app" class="ui form"  v-bind:class="{ 'loading': !formIsAvailable }">
					<form v-on:submit="addWordHandler" autocomplete="off">
						<div class="field">
							<label>请输入搜索关键词(最多{{maxWordsCount}}个)</label>
							<div class="ui action input">
								<input id="input-keyword" v-model="keyword" type="text" value="" name="keyword">
							  	<button type="submit" class="ui teal right labeled icon button primary">
							    	<i class="search icon"></i>
							    	<span>输入关键词</span>
							  	</button>
							</div>
							<div style="display: none;" id="label-error" class="ui pointing label">
						      	<span class="content">填写有误</span>
						      	<i v-on:click="hideError" class="icon close"></i>
						    </div>
						</div>
						<div class="ui labels">
						  	<a v-for="word in keywords" class="ui label">
						    	<span>{{word}}</span>
						    	<i v-on:click="deleteWordHandler" v-bind:data-word="word" class="icon close"></i>
						  	</a>
						</div>
					</form>

					<div class="ui top attached tabular menu">
					  	<a class="active item" data-tab="first">
					  		<span>最新</span>
					  	</a>
					  	<a class="item" data-tab="second">
					  		<span>搜索结果</span>
					  	</a>
					</div>
					<div class="ui bottom attached active tab segment" data-tab="first">
						<ul>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
						</ul>
						<!-- TODO: Pagination 要改成组件的形式 -->
						<div class="ui pagination menu clear small" v-bind:class="{'hide': latestData.pagination.total === 1}">
					        <button v-on:click="latestData.pagination.cur = 1" class="item ui button" v-bind:class="{'disabled' : latestData.pagination.cur === 1}">首页</button>
					        <button v-on:click="latestData.pagination.cur - 1" class="item ui button" v-bind:class="{'disabled' : latestData.pagination.cur === 1}"><span>上一页</span></button>
					        <button v-on:click="latestData.pagination.cur = latestData.pagination.cur + 1" class="item ui button" v-bind:class="{'disabled' : latestData.pagination.cur === latestData.pagination.total}"><span>下一页</span></button>
					     </div>
					</div>
					<!-- TODO: Pagination 要改成组件的形式 -->
					<div class="ui bottom attached tab segment" data-tab="second">
						<div class="ui pagination menu clear small" v-bind:class="{'hide': searchedData.pagination.total === 1}">
					        <button v-on:click="searchedData.pagination.cur = 1"  class="item ui button" v-bind:class="{'disabled' : searchedData.pagination.cur === 1}">首页</button>
					        <button v-on:click="searchedData.pagination.cur - 1"  class="item ui button" v-bind:class="{'disabled' : searchedData.pagination.cur === 1}"><span>上一页</span></button>
					        <button v-on:click="searchedData.pagination.cur = searchedData.pagination.cur + 1"  class="item ui button" v-bind:class="{'disabled' : searchedData.pagination.cur === searchedData.pagination.total}"><span>下一页</span></button>
					     </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./app.js"></script>
	<script type="text/javascript">
		var tab = $('.menu .item').tab();
		PubSub.subscribe('swtichToSearchResultTab', function () {
			tab.tab('change tab', 'second');
		});
	</script>
</body>
</html>