<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/semantic/dist/semantic.min.js"></script>
	<script type="text/javascript" src="../bower_components/vue/dist/vue.min.js"></script>
	<script type="text/javascript" src="../bower_components/PubSubJS/src/pubsub.js"></script>
	<link rel="stylesheet" type="text/css" href="../bower_components/semantic/dist/semantic.min.css">
	<style type="text/css">
	    label, span, button, div {
            font-family: "思源黑体", "Source Han Sans", "微软雅黑", "Microsoft YaHei" !important;
        }
        .clear {
        	clear: both;
        }
        .hide {
        	display: none!important;
        }
        a {
        	outline: none!important;
        }
	</style>
</head>
<body>
	<div id="modal-error" class="ui small modal">
	  	<div class="ui header">
	  		<span>出错啦</span>
	  	</div>
	  	<div class="content">
	    	<p>抱歉，稍后再试试吧</p>
	    	<p>总是出错的话请联系 juststayinvegas@gmail.com</p>
	  	</div>
	  	<div class="actions">
	   		<div class="ui green ok inverted button">
	      		<i class="checkmark icon"></i>
	      		<span>好吧</span>
	    	</div>
	  	</div>
	</div>
	<div id="modal-brief"  class="ui small modal">
	  	<div class="ui header">
	  		<span>关于这个工具</span>
	  	</div>
	  	<div class="content">
	  		<p>这是这个租房小工具的第二版，很抱歉隔了这么久才重新上线，不知道看到这段话的人有多少是老用户</p>
	  		<p>这个工具抓取了豆瓣上十余个小组的租房信息，并且支持最多同时搜索10个关键词相关的租房信息</p>
	  		<p>未来还有可能加入58同城上的租房信息</p>
	  		<p>这是个开源工具，程序托管在github上，地址是 https://github.com/hh54188/angular-ninja， 如果你是一名程序员的话你可以尝试修改这个程序抓取其他的数据，或者部署在自己的服务器上。但<strong>请保留出处以及勿做商用</strong> </p>
	  	</div>
	  	<div class="actions">
	   		<div class="ui green ok inverted button">
	      		<i class="checkmark icon"></i>
	      		<span>明白</span>
	    	</div>
	  	</div>		
	</div>
	<div id="modal-contact"  class="ui small modal">
	  	<div class="ui header">
	  		<span>联络我</span>
	  	</div>
	  	<div class="content">
	  		<p>欢迎给这个工具提出意见或者建议。我的邮箱地址是 juststayinvegas@gmail.com。</p>
	  		<p>但在邮件我之前，可以先看看FAQ，那里或许我对一些工具上的设计做出了解释:)</p>
	  	</div>
	  	<div class="actions">
	   		<div class="ui green ok inverted button">
	      		<i class="checkmark icon"></i>
	      		<span>明白</span>
	    	</div>
	  	</div>		
	</div>
	<div id="modal-faq"  class="ui small modal">
	  	<div class="ui header">
	  		<span>常见问题</span>
	  	</div>
	  	<div class="content">
	  		<li>问：为什么没有完整的翻页功能？比如跳转到指定页数，显示当前页数等</li>
	  		<li>答：简单来说，开发一个完整的翻页功能有点麻烦。比如开发整个页面需要一天，开发完整的翻页也需要一天，没有性价比，就算了。</li>
	  		<p></p>
	  		<li>问：为什么搜索那么慢，而且还常常搜索失败？</li>
	  		<li>答：毕竟这个程序涉及到的硬件成本只有个十几美元，自然速度不快了</li>
	  		<p></p>
	  		<li>问：那为什么不追加成本呢？</li>
	  		<li>答：因为用这个工具的人不多，每天有十几人就很不错了。而且没有人会一直用它，通常找到房子了也就不用了。更重要的是，花的不是您的钱呐</li>
	  	</div>
	  	<div class="actions">
	   		<div class="ui green ok inverted button">
	      		<i class="checkmark icon"></i>
	      		<span>明白</span>
	    	</div>
	  	</div>		
	</div>
	<div id="modal-donate"  class="ui small modal">
	  	<div class="ui header">
	  		<span>为什么要捐助</span>
	  	</div>
	  	<div class="content">
	  		<p>编写这个程序是有成本的。人工成本可以忽略不计，就我一人，当作练手好了。但是运行是有成本的，买域名是有成本了。具体的成本是：</p>
	  		<li>部署在Heroku上一个月7美元</li>
	  		<li>购买数据库</li>
	  		<p></p>
	  		<p>这些成本是这个程序独享的，而且未来如果访问人数较多并且性能不够用的话，还有可能进行追加</p>
	  		<p>当然这些成本也在我的承受范围之内。但如果有你的一点支持的话，我会做的更好:)</p>
	  	</div>
	  	<div class="actions">
	   		<div class="ui green ok inverted button">
	      		<i class="checkmark icon"></i>
	      		<span>完成</span>
	    	</div>
	  	</div>		
	</div>	
	<div class="ui menu fluid" style="margin-top: 0;">
	  	<a id="nav-brief" class="item nav-item" href="javascript:void(0);">
			<i class="ui icon info circle"></i>	  	
	    	<span>简单说明</span>
	  	</a>
		<a id="nav-contact" class="item nav-item" href="javascript:void(0);">
			<i class="ui icon mail"></i>
		    <span>联系作者（意见与建议）</span>
		</a>
		<a id="nav-faq" class="item nav-item" href="javascript:void(0);">
			<i class="ui icon help circle"></i>
		    <span>FAQ（常见问题）</span>
		</a>
		<a id="nav-donate" class="item nav-item" href="javascript:void(0);">
			<i class="ui icon yen"></i>
		    <span>捐助</span>
		</a>		
	</div>
	<div class="ui grid container centered">
		<div class="row">
		</div>
		<div class="row"></div>
		<div class="row">
            <div class="column">
                <h1 class="ui header">
                    <span>豆瓣租房小工具</span>
                </h1>
            </div>
        </div>
		<div class="row">
			<div class="column">
				<div id="app" class="ui form"  v-bind:class="{ 'loading': !formIsAvailable }">
					<form v-on:submit="addWordHandler" autocomplete="off">
						<div class="field">
							<label>请输入搜索关键词(最多{{maxWordsCount}}个)</label>
							<div class="ui action input">
								<input id="input-keyword" v-model="keyword" type="text" value="" name="keyword">
							  	<button type="submit" class="ui teal right labeled icon button primary">
							    	<i class="search icon"></i>
							    	<span>输入关键词</span>
							  	</button>
							</div>
							<div style="display: none;" id="label-error" class="ui pointing label">
						      	<span class="content">填写有误</span>
						      	<i v-on:click="hideError" class="icon close"></i>
						    </div>
						</div>
						<div class="ui labels">
						  	<a v-for="word in keywords" class="ui label">
						    	<span>{{word}}</span>
						    	<i v-on:click="deleteWordHandler" v-bind:data-word="word" class="icon close"></i>
						  	</a>
						</div>
					</form>

					<div class="ui top attached tabular menu">
					  	<a class="active item" data-tab="first">
					  		<span>最新</span>
					  	</a>
					  	<a class="item" data-tab="second">
					  		<span>搜索结果</span>
					  	</a>
					</div>
					<div class="ui bottom attached active tab segment" data-tab="first">
						<ul>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
							<li><a target="_blank" href="">朝阳六号线常营地铁站北辰福第三居次卧招合租</a></li>
						</ul>
						<!-- TODO: Pagination 要改成组件的形式 -->
						<div class="ui pagination menu clear small" v-bind:class="{'hide': latestData.pagination.total === 1}">
					        <button v-on:click="latestData.pagination.cur = 1" class="item ui button" v-bind:class="{'disabled' : latestData.pagination.cur === 1}">首页</button>
					        <button v-on:click="latestData.pagination.cur - 1" class="item ui button" v-bind:class="{'disabled' : latestData.pagination.cur === 1}"><span>上一页</span></button>
					        <button v-on:click="latestData.pagination.cur = latestData.pagination.cur + 1" class="item ui button" v-bind:class="{'disabled' : latestData.pagination.cur === latestData.pagination.total}"><span>下一页</span></button>
					     </div>
					</div>
					<!-- TODO: Pagination 要改成组件的形式 -->
					<div class="ui bottom attached tab segment" data-tab="second">
						<div class="ui pagination menu clear small" v-bind:class="{'hide': searchedData.pagination.total === 1}">
					        <button v-on:click="searchedData.pagination.cur = 1"  class="item ui button" v-bind:class="{'disabled' : searchedData.pagination.cur === 1}">首页</button>
					        <button v-on:click="searchedData.pagination.cur - 1"  class="item ui button" v-bind:class="{'disabled' : searchedData.pagination.cur === 1}"><span>上一页</span></button>
					        <button v-on:click="searchedData.pagination.cur = searchedData.pagination.cur + 1"  class="item ui button" v-bind:class="{'disabled' : searchedData.pagination.cur === searchedData.pagination.total}"><span>下一页</span></button>
					     </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./app.js"></script>
	<script type="text/javascript">
		var tab = $('.menu .item').tab();
		PubSub.subscribe('swtichToSearchResultTab', function () {
			tab.tab('change tab', 'second');
		});
		$('.nav-item').on('click', function () {
			var navItemId = this.id;
			$('#modal-' + navItemId.split('-')[1]).modal('show');
		})
	</script>
</body>
</html>