<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/css/bootstrap-theme.min.css"> -->
	<script type="text/javascript" src="../bower_components/jquery-2.1.4/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1>Example page header <small>Subtext for header</small></h1>
			</div>
		</div>	
		<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
			  	<div class="panel-heading">Panel heading</div>
			  	<div class="panel-body">
					<form>
						<div class="form-group">
					    	<label for="exampleInputEmail1">Email address</label>
						    <div class="input-group">
						    	<input type="text" class="form-control" placeholder="Search for...">
						      	<span class="input-group-btn">
						        	<button class="btn btn-default" type="button">Go!</button>
						      	</span>
						    </div>
					  	</div>
					</form>
			  	</div>
			  	<ul class="list-group">
			    	<li class="list-group-item">
			    		<a href="#">Cras justo odio <span class="badge">42</span></a> 
			    	</li>
			    	<li class="list-group-item"><a href="#">Dapibus ac facilisis in <span class="badge">42</span></a></li>
			    	<li class="list-group-item"><a href="#">Morbi leo risus <span class="badge">42</span></a></li>
			    	<li class="list-group-item"><a href="#">Porta ac consectetur ac <span class="badge">42</span></a></li>
			    	<li class="list-group-item"><a href="#">Vestibulum at eros <span class="badge">42</span></a></li>
			  	</ul>
			  	<div class="panel-footer">
					<div class="btn-group btn-group-sm" role="group">
					  	<button type="button" class="btn btn-default">
					  		<span>Edit</span>
					  		<span class="glyphicon glyphicon-cog"></span>
					  	</button>
					  	<button type="button" class="btn btn-default">
					  		<span>Clear</span>
					  		<span class="glyphicon glyphicon-trash"></span>					  		
					  	</button>
					</div>
			  	</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="panel panel-default">
			  	<div class="panel-heading">Panel heading</div>
			  	<div class="panel-body">
			  		<table class="table table-hover">
			  			<thead>
			  				<th>
			  					<span>1</span>
			  				</th>
			  				<th>
			  					<span>2</span>
			  				</th>
			  				<th>
			  					<span>3</span>
			  				</th>
			  			</thead>
			  			<tbody>
			  				<tr>
			  					<td>1</td>
			  					<td>2</td>
			  					<td>3</td>
			  				</tr>
			  				<tr>
			  					<td>1</td>
			  					<td>2</td>
			  					<td>3</td>
			  				</tr>			  				
			  			</tbody>
			  			<tfoot></tfoot>
			  		</table>
			  	</div>
			  	<div class="panel-footer"></div>
		</div>
		</div>
	</div>
</body>
</html>