<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="app">
<div ng-controller="TestController">
    <input type="checkbox" checked ng-repeat="num in array track by $index" ng-model="array[$index]" ng-checked="array[$index]" ng-change="changed()" />
</div>
<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('TestController', function ($scope) {
        $scope.array = [0, 2, 3, 4];
        $scope.changed = function () {
        	console.log($scope.array);
        }
    });
</script>
</body>
</html>