<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery-2.1.4/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/css/bootstrap.min.css">	
	<style type="text/css">
		html body {
			font-family: '微软雅黑', '思源黑体';
		}
		.btn-subway-margin {
			margin-left: 5px;
			margin-bottom: 5px;
		}
		.inline-block {
			display: inline-block;
		}
		.custom-hr {
			margin: 10px 0 10px 0;
		}
		* {
			outline: none;
		}
	</style>	
</head>
<body>
<body ng-app="app">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
				  <h1>Example page header <small>Subtext for header</small></h1>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="row"  ng-controller="FilterController">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						  		<span>Panel heading</span>
						  		<button type="button" class="btn btn-default btn-xs pull-right" aria-label="Left Align">
							<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
						</button>
						  	</div>
						  	<div class="panel-body">
								<form ng-submit="submitForm()" required>
									<div class="form-group">						
								    	<label>Email address</label>
									    <div class="input-group">
									    	<input ng-model="newKeyword" type="text" 
									    			class="form-control" 
									    			placeholder="Search for...">
									      	<span class="input-group-btn">
									    		<button type="button" class="btn btn-default" aria-label="Help"><span class="glyphicon glyphicon-question-sign"></span></button>
									        	<button class="btn btn-default" type="button" ><span class="glyphicon glyphicon-search"></span></button>
									      	</span>
									    </div>
								  	</div>
								</form>	
							  	<ul class="list-group">
							  		<li class="list-group-item clearfix" ng-repeat="word in filterKeywords track by $index">
							    		<a href="#">{{word}}</a>
							    		<div ng-show="keywordsIsEditable" class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
							    			<!--删除关键字-->
											<button ng-click="deleteKeyword(word)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
										  	<!--向上移动关键字-->
										  	<button ng-hide="$index == 0"  ng-click="insertKeyword(word, $index - 1)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
										  	<!--向下移动关键字-->
										  	<button ng-hide="$index == filterKeywords.length - 1" ng-click="insertKeyword(word, $index + 1)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></button>
										</div> 
							  		</li>
							  	</ul>	
							  	<!-- <div class="alert alert-info" role="alert">最多十个关键字</div> -->
						  	</div>
						  	<div class="panel-footer" ng-show="filterKeywords.length">
								<div class="btn-group btn-group-sm" role="group">
									<!--启用编辑关键字-->
								  	<button ng-click="enableEditKeywords()" ng-class="{'active': keywordsIsEditable}" type="button" class="btn btn-default" ng-disabled="!filterKeywords.length">
								  		<span>Edit</span>
								  		<span class="glyphicon glyphicon-cog"></span>
								  	</button>
								  	<!-- 清除所有关键字 -->
								  	<button ng-click="deleteAllKeywords()" type="button" class="btn btn-default" ng-disabled="!filterKeywords.length">
								  		<span>Clear</span>
								  		<span class="glyphicon glyphicon-trash"></span>
								  	</button>
								</div>				  	
						  	</div>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<span>结果过滤</span>						
							</div>
							<div class="panel-body">
								<form name="filterForm">
								  	<div class="form-group">
								  		<label>数据来源</label>
								  		<div  ng-repeat="sourceItem in filterSources" class="checkbox">
											<label>
												<input ng-change="sourceSelectChange()" ng-model="sourceItem.checked" type="checkbox" value="{{sourceItem.name}}" >{{sourceItem.name}}
											</label>
											<a href="{{sourceItem.url}}" target="_blank" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>
								  		</div>						  		
								  	</div>
								  	<div class="form-group">
								  		<label>时间范围</label>
								  		<div ng-repeat="intervalItem in timeRangeOptions" class="radio">
											<label>
												<input ng-change="intervalSelectChange()" ng-model="$parent.selectedInterval" type="radio" name="timeRange" value="{{intervalItem.interval}}" >{{intervalItem.desc}}
											</label>							
								  		</div>
								  	</div>
								  	<div class="form-group">
								  		<div>
								  			<label>
								  				<span>地铁</span>
								  			</label>
								  		</div>
										<div>
											<select ng-change="tempSelectedChanged()" ng-model="tempSelectedSubway" class="form-control input-sm inline-block" style="width:30%;">
												<option value="">无</option>
												<option ng-repeat="subwayItem in filterSubways |
												 UnselectedSubwayFilter" value="{{subwayItem.val}}">{{subwayItem.desc}}</option>
											</select>
									  		<button ng-disabled="!tempSelectedSubway" ng-click="addSelectedSubway()" type="button" class="btn btn-default btn-primary btn-xs">
	  											<span class="glyphicon glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
	  											<span>添加</span>
											</button>
									  		<button ng-click="clearSelectedSubways()" type="button" class="btn btn-default btn-primary btn-xs">
	  											<span class="glyphicon glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
	  											<span>清空</span>
											</button>
											<hr class="custom-hr">
										</div>
								  		<button ng-click="removeSubway(subwayItem.val)" ng-model="subwayItem.checked" ng-repeat="subwayItem in filterSubways | SelectedSubwayFilter"  type="button" class="btn btn-default btn-xs btn-subway-margin">
  											<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
  											<span>{{subwayItem.desc}}</span>								  		
								  		</button>
								  	</div>								  							  	
								</form>
							</div>
						</div>						
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-6 col-sm-6">
				<div  ng-controller="TableController"  class="panel panel-default">
					<div class="panel-heading">
						<span>Result Table</span>
						<button type="button" class="btn btn-default btn-xs pull-right" aria-label="Left Align">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>					
					</div>
				  	<div class="panel-body">
				  		<table style="margin:0;" class="table table-hover">
				  			<!--
				  				这里是个坑：如果DataModel字段发生更改，则模板这里需要修改，Model层需要修改，数据库也需要修改？
								title和url需要进行组合才能显示，所以这里就不适合遍历
				  			-->
				  			<thead>
				  				<th class="text-left" width="20%">
				  					<span>来源</span>
				  				</th>
				  				<th class="text-left">
				  					<span>标题</span>
				  				</th>				
				  			</thead>
				  			<tbody>
								<tr ng-repeat="item in records">
									<td>{{item.source}}</td>
									<td>
										<a target="_blank" href="{{item.url}}">{{item.title}}
										</a>
									</td>
								</tr>  				
				  			</tbody>
				  			<tfoot></tfoot>
				  		</table>	
				  	</div>
				  	<div class="panel-footer">
				  		<div pager go-page-action="goPage(pageNum)" total-page-count="{{pageInfo.total}}" cur-page="{{pageInfo.cur}}" class="text-center"></div>
				  		<!-- <div pager total-page-count="7" cur-page="3" class="text-center"></div> -->
				  	</div>
				</div>
			</div>
		</div>
	</div>		
	<script type="text/javascript">
		angular.module('app', []);
	</script>
	<script type="text/javascript">

	</script>
	<!-- Fitler -->
	<script type="text/javascript" src="./SelectedSubwayFilter.js"></script>
	<script type="text/javascript" src="./UnselectedSubwayFilter.js"></script>
	<!--Directive-->
	<script type="text/javascript" src="./PagerDirective.js"></script>
	<!-- Repositories -->
	<script type="text/javascript" src="./SubwaysRepo.js"></script>
	<script type="text/javascript" src="./DataRepo.js"></script>
	<script type="text/javascript" src="./SourcesRepo.js"></script>
	<script type="text/javascript" src="./KeywordsRepo.js"></script>
	<script type="text/javascript" src="./TimeRangesRepo.js"></script>
	<!--Controller-->
	<script type="text/javascript" src="./FilterController.js"></script>
	<script type="text/javascript" src="./TableController.js"></script>
	<!--Domain Model-->
	<script type="text/javascript" src="./SourcesModel.js"></script>
	<script type="text/javascript" src="./SubwaysModel.js"></script>
	<script type="text/javascript" src="./KeywordsModel.js"></script>
	<script type="text/javascript" src="./TimeRangesModel.js"></script>
	<script type="text/javascript" src="./DataModel.js"></script>
</body>
</body>
</html>