<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../../bower_components/jquery-2.1.4/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../../bower_components/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
	html body {
		font-family: '思源黑体';
	}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
				  <h1>Example page header <small>Subtext for header</small></h1>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3">
				<div class="panel panel-default">
				  	<div class="panel-heading">Panel heading</div>
				  	<div class="panel-body">
						<form>
							<div class="form-group">
						    	<label for="exampleInputEmail1">Email address</label>
							    <div class="input-group">
							    	<input type="text" class="form-control" placeholder="Search for...">
							      	<span class="input-group-btn">
							        	<button class="btn btn-default" type="button">Go!</button>
							      	</span>
							    </div>
						  	</div>
						</form>
				  	</div>
				  	<ul class="list-group">
				    	<li class="list-group-item">
				    		<a href="#">Cras justo odio <span class="badge">42</span></a> 
				    	</li>
				    	<li class="list-group-item"><a href="#">Dapibus ac facilisis in <span class="badge">42</span></a></li>
				    	<li class="list-group-item"><a href="#">Morbi leo risus <span class="badge">42</span></a></li>
				    	<li class="list-group-item"><a href="#">Porta ac consectetur ac <span class="badge">42</span></a></li>
				    	<li class="list-group-item"><a href="#">Vestibulum at eros <span class="badge">42</span></a></li>
				  	</ul>
				  	<div class="panel-footer">
						<div class="btn-group btn-group-sm" role="group">
						  	<button type="button" class="btn btn-default">
						  		<span>Edit</span>
						  		<span class="glyphicon glyphicon-cog"></span>
						  	</button>
						  	<button type="button" class="btn btn-default">
						  		<span>Clear</span>
						  		<span class="glyphicon glyphicon-trash"></span>					  		
						  	</button>
						</div>
				  	</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<span>Filter</span>						
					</div>
					<div class="panel-body">
						<form class="">
						  	<div class="form-group">
						  		<label>Data Source</label>
						  		<div class="checkbox">
									<label>
										<input type="checkbox" id="inlineCheckbox1" value="option1" checked>ebay
									</label>
									<a href="#" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>
						  		</div>
						  		<div class="checkbox">
									<label>
										<input type="checkbox" id="inlineCheckbox2" value="option2" checked>taobao
									</label>
									<a href="#" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>									
						  		</div>
						  		<div class="checkbox">
									<label>
										<input type="checkbox" id="inlineCheckbox3" value="option3" checked>ac
									</label>
									<a href="#" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>									
						  		</div>
						  	</div>

						  	<div class="form-group">
						  		<label>Only see</label>
						  		<div class="radio">
									<label>
										<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">All
									</label>							
						  		</div>
						  		<div class="radio">
									<label>
										<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">In one Hour
									</label>
						  		</div>
						  		<div class="radio">
									<label>
										<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">In three Hour
									</label>
						  		</div>
						  		<div class="radio">
									<label>
										<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" checked>Today
									</label>
						  		</div>
						  	</div>

						  	<div class="form-group">
						  		<label>Order</label>
						  		<div class="radio">
									<label>
										<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>Default
									</label>
						  		</div>
						  		<div class="radio">
									<label>
										<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Price
									</label>
						  		</div>
						  		<div class="radio">
									<label>
										<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Date
									</label>	
						  		</div>
						  	</div>	

						  	<div class="form-group">
						  		<!-- <p><strong>Exclude Keywords</strong></p> -->
								<label>Exclude Keywords</label>
								<div class="checkbox">
									<label>
										<input type="checkbox" id="inlineCheckbox1" value="option1" checked>ebay
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" id="inlineCheckbox2" value="option2" checked>taobao
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" id="inlineCheckbox3" value="option3" checked>ac
									</label>
								</div>
						  	</div>					  					  	
					  	
						</form>

					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-6 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span>Result Table</span>
						<button type="button" class="btn btn-default btn-xs pull-right" aria-label="Left Align">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>					
					</div>
				  	<div class="panel-body">
				  		<table class="table table-hover">
				  			<thead>
				  				<th>
				  					<span>Source</span>
				  				</th>
				  				<th>
				  					<span>Title</span>
				  				</th>
				  				<th>
				  					<span>Price</span>
				  				</th>
				  				<th>
				  					<span>Date</span>
				  				</th>		  				
				  			</thead>
				  			<tbody>
				  				<tr>
				  					<td>ebay</td>
				  					<td>【出售】hot toys 钢铁侠 妇联系列</td>
				  					<td>未知</td>
				  					<td>2015.08.14</td>
				  				</tr>
				  				<tr>
				  					<td>ebay</td>
				  					<td>【出售】hot toys 钢铁侠 妇联系列</td>
				  					<td>未知</td>
				  					<td>2015.08.14</td>
				  				</tr>
				  				<tr>
				  					<td>ebay</td>
				  					<td>【出售】hot toys 钢铁侠 妇联系列</td>
				  					<td>未知</td>
				  					<td>2015.08.14</td>
				  				</tr>
				  				<tr>
				  					<td>ebay</td>
				  					<td>【出售】hot toys 钢铁侠 妇联系列</td>
				  					<td>未知</td>
				  					<td>2015.08.14</td>
				  				</tr>
				  				<tr>
				  					<td>ebay</td>
				  					<td>【出售】hot toys 钢铁侠 妇联系列</td>
				  					<td>未知</td>
				  					<td>2015.08.14</td>
				  				</tr>
				  				<tr>
				  					<td>ebay</td>
				  					<td>【出售】hot toys 钢铁侠 妇联系列</td>
				  					<td>未知</td>
				  					<td>2015.08.14</td>
				  				</tr>
				  				<tr>
				  					<td>ebay</td>
				  					<td>【出售】hot toys 钢铁侠 妇联系列</td>
				  					<td>未知</td>
				  					<td>2015.08.14</td>
				  				</tr>				  								  								  								  								  						  				
				  			</tbody>
				  			<tfoot></tfoot>
				  		</table>
				  		<div style="text-align:center;">
							 <ul style="margin:0;" class="pagination pagination-sm">
							    <li>
							     	<a href="#" aria-label="Previous">
							        	<span aria-hidden="true">&laquo;</span>
							      	</a>
							    </li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							    	<a href="#" aria-label="Next">
							        	<span aria-hidden="true">&raquo;</span>
							      	</a>
							    </li>
							</ul>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>