<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery-2.1.4/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/immutable/dist/immutable.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="./spinner.css">
	<script type="text/javascript">
		// $.ajax({
		// 	url: 'http://example.com/',
		// 	dataType: 'json',
		// 	timeout: 1000 * 1,
		// 	data: {
		// 		str1: 'str1',
		// 		str2: 'str2',
		// 		str3: 'str3',
		// 		keywords: ['keyword01', 'keyword02']
		// 	},
		// 	success: function (data, textStatus, jqXHR) {
		// 		console.log('success------>', data, textStatus, jqXHR)
		// 	},
		// 	error: function (jqXHR, textStatus, errorThrown) {
		// 		console.log('error------>', jqXHR, textStatus, errorThrown);
		// 	},
		// 	complete: function (jqXHR, textStatus) {
		// 		console.log('complete------>', jqXHR, textStatus);
		// 	}
		// });
	</script>
	<style type="text/css">
		html body {
			font-family: '微软雅黑', '思源黑体';
		}
		.btn-subway-margin {
			margin-left: 5px;
			margin-bottom: 5px;
		}
		.inline-block {
			display: inline-block;
		}
		.custom-hr {
			margin: 10px 0 10px 0;
		}
		* {
			outline: none;
		}
		.panel-modal {
			display: none;
			position: absolute;
		    left: 0;
		    top: 0;
		    background: white;
		    width: 100%;
		    height: 100%;
		    z-index: 1050; /* 参考bootstrap .modal组件 */
		    opacity: 0.6;
		}
		.app-state-loading .panel-modal {
			display: block;
		}
		.no-round-corner {
			border-radius: 0;
		}
		.position-fixed {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1;
		}
	</style>	
</head>
<body>
<body ng-app="app">
	<div class="container-fluid"  ng-controller="AppController">
		<div class="row">
			<!-- <div class="alert alert-success no-round-corner position-fixed" role="alert">Success</div> -->
			<!-- <div class="alert alert-danger no-round-corner position-fixed" role="alert">Danger</div> -->
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
				  <h1>Example page header <small>Subtext for header</small></h1>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-5 col-md-6 col-sm-6">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-7">
						<div class="panel-modal">
							<div class="sk-circle">
								<div class="sk-circle1 sk-child"></div>
								<div class="sk-circle2 sk-child"></div>
								<div class="sk-circle3 sk-child"></div>
								<div class="sk-circle4 sk-child"></div>
								<div class="sk-circle5 sk-child"></div>
								<div class="sk-circle6 sk-child"></div>
								<div class="sk-circle7 sk-child"></div>
								<div class="sk-circle8 sk-child"></div>
								<div class="sk-circle9 sk-child"></div>
								<div class="sk-circle10 sk-child"></div>
								<div class="sk-circle11 sk-child"></div>
								<div class="sk-circle12 sk-child"></div>
							</div>
						</div>
						<div class="panel panel-default">
						  	<div class="panel-heading">
						  		<span>搜索关键词</span>
						  		<button type="button" class="btn btn-default btn-xs pull-right" aria-label="Left Align">
									<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
								</button>
						  	</div>
						  	<div class="panel-body">
								<form ng-submit="addKeyword($event, tempKeyword)" required>
									<div class="form-group">						
								    	<label>关键词</label>
									    <div class="input-group">
									    	<input ng-disabled="keywords.length >= 10" ng-model="tempKeyword" type="text" 
									    			class="form-control" 
									    			placeholder="Search for...">
									      	<span class="input-group-btn">
									    		<button type="button" class="btn btn-default" aria-label="Help"><span class="glyphicon glyphicon-question-sign"></span></button>
									        	<button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span></button>
									      	</span>
									    </div>
								  	</div>
								</form>	
							  	<ul class="list-group">
							  		<li class="list-group-item clearfix" ng-repeat="word in keywords track by $index">
							    		<span>{{word}}</span>
							    		<div ng-show="keywordsIsEditable" class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
							    			<!--删除关键字-->
											<button ng-click="deleteKeyword(word)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
										  	<!--向上移动关键字-->
										  	<button ng-hide="$index == 0"  ng-click="sortKeyword($index, $index - 1)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
										  	<!--向下移动关键字-->
										  	<button ng-hide="$index == keywords.length - 1" ng-click="sortKeyword($index, $index + 1)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></button>
										</div> 
							  		</li>
							  	</ul>	
							  	<!-- <div class="alert alert-info" role="alert">最多十个关键字</div> -->
						  	</div>
						  	<div class="panel-footer" ng-show="keywords.length">
								<div class="btn-group btn-group-sm" role="group">
									<!--启用编辑关键字-->
								  	<button ng-click="enableEditKeywords()" ng-class="{'active': keywordsIsEditable}" type="button" class="btn btn-default" ng-disabled="!keywords.length">
								  		<span>编辑</span>
								  		<span class="glyphicon glyphicon-cog"></span>
								  	</button>
								  	<!-- 清除所有关键字 -->
								  	<button ng-click="emptyKeywords()" type="button" class="btn btn-default" ng-disabled="!keywords.length">
								  		<span>清空</span>
								  		<span class="glyphicon glyphicon-trash"></span>
								  	</button>
								</div>				  	
						  	</div>
						</div>						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-5">
						<div class="panel-modal">
							<div class="sk-circle">
								<div class="sk-circle1 sk-child"></div>
								<div class="sk-circle2 sk-child"></div>
								<div class="sk-circle3 sk-child"></div>
								<div class="sk-circle4 sk-child"></div>
								<div class="sk-circle5 sk-child"></div>
								<div class="sk-circle6 sk-child"></div>
								<div class="sk-circle7 sk-child"></div>
								<div class="sk-circle8 sk-child"></div>
								<div class="sk-circle9 sk-child"></div>
								<div class="sk-circle10 sk-child"></div>
								<div class="sk-circle11 sk-child"></div>
								<div class="sk-circle12 sk-child"></div>
							</div>
						</div>					
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<span>结果过滤</span>						
							</div>
							<div class="panel-body">
								<form name="filterForm">
								  	<div class="form-group">
								  		<label>数据来源</label>
								  		<div  ng-repeat="sourceItem in sources" class="checkbox">
											<label>
												<input ng-change="toggleSource(sourceItem.id)" ng-model="sourceItem.checked" type="checkbox" value="{{sourceItem.name}}" >{{sourceItem.name}}
											</label>
											<a href="{{sourceItem.url}}" target="_blank" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>
								  		</div>						  		
								  	</div>
								  	<div class="form-group">
								  		<label>时间范围</label>
								  		<div ng-repeat="timeItem in times" class="radio">
											<label>
												<input ng-change="toggleTime(timeItem.id)" ng-model="$parent.selectedTimeId" type="radio" name="time" value="{{timeItem.id}}" >{{timeItem.desc}}
											</label>							
								  		</div>
								  	</div>
								  	<div class="form-group">
								  		<div>
								  			<label>
								  				<span>地铁</span>
								  				<span title="Tooltip on left" data-placement="left" class=" glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								  			</label>
								  		</div>
										<div>
											<select ng-model="tempSubway" class="form-control input-sm inline-block" style="width:30%;">
												<option value="">无</option>
												<option ng-repeat="subwayItem in subways | UnselectedSubwayFilter" value="{{subwayItem.id}}">{{subwayItem.desc}}</option>
											</select>
									  		<button ng-disabled="!tempSubway" ng-click="toggleSubway(tempSubway)" type="button" class="btn btn-default btn-primary btn-xs">
	  											<span class="glyphicon glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
	  											<span>添加</span>
											</button>
									  		<button ng-disabled="!subways" ng-click="deselectSubways()" type="button" class="btn btn-default btn-primary btn-xs">
	  											<span class="glyphicon glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
	  											<span>清空</span>
											</button>
											<hr class="custom-hr">
										</div>
								  		<button ng-click="toggleSubway(subwayItem.id)" ng-model="subwayItem.checked" ng-repeat="subwayItem in subways | SelectedSubwayFilter"  type="button" class="btn btn-default btn-xs btn-subway-margin">
  											<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
  											<span>{{subwayItem.desc}}</span>								  		
								  		</button>
								  	</div>								  							  	
								</form>
							</div>
						</div>						
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-md-6 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span>Result Table</span>
						<button type="button" class="btn btn-default btn-xs pull-right" aria-label="Left Align">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>					
					</div>
				  	<div class="panel-body">
				  		<table style="margin:0;" class="table table-hover">
				  			<!-- <thead>
				  				<th class="text-left">
				  					<span>标题</span>
				  				</th>				
				  			</thead> -->
				  			<tbody>
								<tr ng-repeat="item in data">
									<td>
										<a target="_blank" href="{{item.url}}">{{item.title}}
										</a>
									</td>
								</tr>  				
				  			</tbody>
				  			<tfoot>
				  			</tfoot>
				  		</table>									
				  	</div>
				  	<div class="panel-footer" style="position: relative;">
						<div class="panel-modal"></div>
				  		<div go-page-action="goPage(pageNum)" pagination total="{{pagination.total}}" cur="{{pagination.cur}}" class="text-center"></div>
				  	</div>
				</div>
			</div>
		</div>
	</div>		
	<script type="text/javascript">
		angular.module('app', []);
	</script>
	<!--  Directive-->
	<script type="text/javascript" src="./PaginationDirective.js"></script>
	<!-- Fitler -->
	<script type="text/javascript" src="./SelectedSubwayFilter.js"></script>
	<script type="text/javascript" src="./UnselectedSubwayFilter.js"></script>	
	<!-- Reducers -->
	<script type="text/javascript" src="./reducers/appstate.js"></script>
	<script type="text/javascript" src="./reducers/data.js"></script>
	<script type="text/javascript" src="./reducers/pagination.js"></script>
	<script type="text/javascript" src="./reducers/time.js"></script>
	<script type="text/javascript" src="./reducers/subway.js"></script>
	<script type="text/javascript" src="./reducers/keyword.js"></script>
	<script type="text/javascript" src="./reducers/source.js"></script>
	<script type="text/javascript" src="./reducers/root.js"></script>
	<!-- Store -->
	<script type="text/javascript" src="./Store.js"></script>
	<!-- Actions -->
	<script type="text/javascript" src="./actions/types.js"></script>
	<script type="text/javascript" src="./actions/creators.js"></script>
	<!--Controller-->
	<script type="text/javascript" src="./AppController.js"></script>
</body>
</body>
</html>