<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../../bower_components/jquery-2.1.4/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../../bower_components/bootstrap/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="../../data.js"></script>	
	<link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
	html body {
		font-family: '思源黑体';
	}
	</style>
</head>
<body ng-app="app">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
				  <h1>Example page header <small>Subtext for header</small></h1>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3">
				<div class="panel panel-default">
				  	<div class="panel-heading"></div>
				  	<div class="panel-body">
				  	</div>
				  	<div class="panel-footer">
				  	</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<span>结果过滤</span>						
					</div>
					<div class="panel-body" ng-controller="FilterController">
						<form name="filterForm">
						  	<div class="form-group">
						  		<label>
						  			<span>数据来源</span>	
									<!-- <a href="#" class="btn btn-xs glyphicon glyphicon-triangle-bottom"></a> -->
									<!-- <a href="#" class="btn btn-xs glyphicon glyphicon-triangle-top"></a> -->
						  		</label>
						  		<div class="checkbox">
									<label>
										<input ng-change="sourceChanged()" ng-model="filter.source.tieba" name="source-tieba" type="checkbox" value="tieba" checked>贴吧
									</label>
									<a href="#" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>
						  		</div>
						  		<div class="checkbox">
									<label>
										<input ng-change="sourceChanged()"  ng-model="filter.source.ebay" type="checkbox" value="ebay" checked>ebay
									</label>
									<a href="#" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>
						  		</div>
						  		<div class="checkbox">
									<label>
										<input ng-change="sourceChanged()"  ng-model="filter.source.taobao" type="checkbox" value="taobao" checked>淘宝二手
									</label>
									<a href="#" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>									
						  		</div>
						  		<div class="checkbox">
									<label>
										<input ng-change="sourceChanged()"  ng-model="filter.source.ac" type="checkbox" value="ac" checked>ac商城
									</label>
									<a href="#" class="btn btn-link btn-xs glyphicon glyphicon-new-window"></a>									
						  		</div>
						  	</div>

						  	<div class="form-group">
						  		<label>只看</label>
						  		<div class="radio">
									<label>
										<input ng-change="timeChanged()" ng-model="filter.time" type="radio" name="time" value="all" checked>所有
									</label>							
						  		</div>
						  		<div class="radio">
									<label>
										<input ng-change="timeChanged()"  ng-model="filter.time" type="radio" name="time" value="1hour">一小时内
									</label>
						  		</div>
						  		<div class="radio">
									<label>
										<input ng-change="timeChanged()"  ng-model="filter.time" type="radio" name="time" value="3hour">三小时内
									</label>
						  		</div>
						  		<div class="radio">
									<label>
										<input ng-change="timeChanged()"  ng-model="filter.time" type="radio" name="time" value="today">今天
									</label>
						  		</div>
						  	</div>

						  	<div class="form-group">
						  		<!-- <p><strong>Exclude Keywords</strong></p> -->
								<label>排除关键字</label>
								<div class="checkbox">
									<label>
										<input ng-change="excludeChanged()" ng-model="filter.exclude.accessories" type="checkbox" checked>配件
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input ng-change="excludeChanged()" ng-model="filter.exclude.headStatue" type="checkbox" checked>头雕
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input ng-change="excludeChanged()" ng-model="filter.exclude.noht" type="checkbox" checked>非HT
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input ng-change="excludeChanged()" ng-model="filter.exclude.wantbuy" type="checkbox" checked>求购
									</label>
								</div>								
						  	</div>				

						  	<div class="form-group">
						  		<!-- <p><strong>Exclude Keywords</strong></p> -->
								<label>显示列</label>
								<div class="checkbox">
									<label>
										<input type="checkbox" checked>来源
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" checked>价格
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" checked>日期
									</label>
								</div>
						  	</div>					  	
						</form>

					</div>
				</div>
			</div>
			<div ng-controller="TableController" class="col-lg-8 col-md-6 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span>Result Table</span>
						<button type="button" class="btn btn-default btn-xs pull-right" aria-label="Left Align">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>					
					</div>
				  	<div class="panel-body">
				  		<table class="table table-hover">
				  			<thead>
				  				<th>
				  					<span>Source</span>
				  				</th>
				  				<th>
				  					<span>Title</span>
				  				</th>
				  				<th>
				  					<span>Price</span>
				  				</th>
				  				<th>
				  					<span>Date</span>
				  				</th>		  				
				  			</thead>
				  			<tbody>
								<tr ng-repeat="item in data | sourceFilter">
									<td>{{item.source}}</td>
									<td><a target="_blank" href="{{item.url}}">{{item.title}}</a></td>
									<td>{{item.price}}</td>
									<td>{{item.date}}</td>
								</tr>				  								  								  								  								  						  				
				  			</tbody>
				  			<tfoot></tfoot>
				  		</table>
				  		<div style="text-align:center;">
							 <ul style="margin:0;" class="pagination pagination-sm">
							    <li>
							     	<a href="#" aria-label="Previous">
							        	<span aria-hidden="true">&laquo;</span>
							      	</a>
							    </li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							    	<a href="#" aria-label="Next">
							        	<span aria-hidden="true">&raquo;</span>
							      	</a>
							    </li>
							</ul>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>	
	<script type="text/javascript" src="./resultTable.js"></script>
	<script type="text/javascript" src="./tableFilter.js"></script>
</body>
</html>